<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isMe</key>
		<true/>
		<key>message</key>
		<string>你好啊~</string>
		<key>time</key>
		<string>12:03</string>
	</dict>
	<dict>
		<key>isMe</key>
		<false/>
		<key>message</key>
		<string>The same to you ~</string>
		<key>time</key>
		<string>12:04</string>
	</dict>
	<dict>
		<key>isMe</key>
		<true/>
		<key>message</key>
		<string>我是大象~你是谁我是大象~你是谁我是大象~你是谁我是大象~你是谁我是大象~你是谁我是大象~你是谁我是大象~你是谁我是大象~你是谁我是大象~你是谁我是大象~你是谁我是大象~你是谁</string>
		<key>time</key>
		<string>12:04</string>
	</dict>
	<dict>
		<key>isMe</key>
		<false/>
		<key>message</key>
		<string>I am nobody~ never mind</string>
		<key>time</key>
		<string>12:05</string>
	</dict>
	<dict>
		<key>isMe</key>
		<true/>
		<key>message</key>
		<string>很高兴见到你</string>
		<key>time</key>
		<string>12:07</string>
	</dict>
	<dict>
		<key>isMe</key>
		<true/>
		<key>message</key>
		<string>很高兴见到你</string>
		<key>time</key>
		<string>12:07</string>
	</dict>
	<dict>
		<key>isMe</key>
		<true/>
		<key>message</key>
		<string>很高兴见到你</string>
		<key>time</key>
		<string>12:07</string>
	</dict>
	<dict>
		<key>isMe</key>
		<true/>
		<key>message</key>
		<string>很高兴见到你</string>
		<key>time</key>
		<string>12:07</string>
	</dict>
	<dict>
		<key>isMe</key>
		<true/>
		<key>message</key>
		<string>很高兴见到你</string>
		<key>time</key>
		<string>12:07</string>
	</dict>
	<dict>
		<key>isMe</key>
		<true/>
		<key>message</key>
		<string>很高兴见到你</string>
		<key>time</key>
		<string>12:07</string>
	</dict>
	<dict>
		<key>isMe</key>
		<true/>
		<key>message</key>
		<string>这里是最后一行</string>
		<key>time</key>
		<string>12:07</string>
	</dict>
</array>
</plist>
